/* Nav section */
.navbar-light .navbar-nav .nav-link {
    font-family: 'Jost', sans-serif;
    position: relative;
    margin-left: 30px;
    padding: 30px 0;
    font-size: 18px;
    font-weight: 700;
    /* color: var(--dark); */
    outline: none;
    transition: .5s;
}
.hero-header {
    background: url('hero.jpg') top right no-repeat;
    background-size: cover;
}

.display-4 {
    /* font-size: calc(1.625rem + 4.5vw); */
    font-weight: 700;
    line-height: 1.2;
}


/* services page */
.service-item .service-icon {
    width: 150px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#13C5DD;
    border-radius: 50%;
    transform: rotate(-14deg);
}

.service-item {
    position: relative;
    height: 350px;
    padding: 0px 30px;
    transition: .5s;
}

/* Appointment end */
.Appointment-cont{
    background: #13C5DD;
}

/* pricing */
.card-group1 .btn{
    background:#13C5DD;
}


/* Testomonial */
.testimonial img{
    border-radius: 50%;
}